<html>
	<head>
    	<title>TEST</title>
    	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" href="../../css/common.css">

		<style>
			.form-div {
				margin-bottom: 20px;
			}
			.form-div .form-cat{
				font-weight: 600;
				font-size: 16px;
			}
		</style>
	</head>  
	<body>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h4>KB-fintech은행</h4>
				</div>
				
				<div class="col-lg-12">
					<div class="top-menu col-lg-4">환율</div>
					<div class="top-menu col-lg-4 active">환전</div>
					<div class="top-menu col-lg-4">계좌</div>
				</div>

				<div class="col-lg-12" style="text-align: center;">
                    <div>
                        <h4>거래 정상 완료</h4>
                        <p>
                            OO통장(12020-349-829-XX)에<br>
                            100달러 (11800원)
                            입금이 완료되었습니다.
                        </p>
                    </div>

                    <div>
                        <h4>추천 적금</h4>
                    </div>

                    <div>
                        <h4>추천 주식</h4>
                    </div>
                </div>
			</div>
		</div>
	</body>
	<script>
		
	</script>
</html>